---
import type { PortfolioEntryPDF } from "../../lib/getContent";
type Props = Pick<PortfolioEntryPDF["props"], "pdf">;
const { pdf } = Astro.props;
---

<div class="flex-gap-4 flex h-full w-full flex-col pb-4 px-28">
  <iframe
    class="flex-grow"
    src={pdf.fields.file!.url}
    width="100%"
    height="100%"></iframe>
  <a
    class="bg-#F84FB7 hover:bg-#f972c5 rounded px-4 py-2 text-center font-bold text-white"
    href={"https:" + pdf.fields.file!.url}
    target="_blank"
    rel="noopener noreferrer">View Full PDF in New Tab</a
  >
</div>
