---
import { aboutPage } from "../lib/getContent";
import { Image } from "astro:assets";
import Base from "../layouts/Base.astro";
import Headshot from "../assets/about-headshot.png";
import Logo from "../assets/about-logo.png";
---

<Base>
  <main class="base-main mt-8 md:mt-0 xl:pl-1/5 grid px-10 lg:grid-cols-3 lg:pl-28 lg:pr-0">
    <article
      class="font-base lg:mt-18 text-gray-700 lg:col-start-1 lg:col-end-2 lg:row-start-1 lg:mb-20"
    >
      <h2
        set:html={aboutPage.title}
        class="color-[#FF7DB8] mt-auto pb-12 text-6xl font-bold lg:text-8xl"
      />
      <p
        set:html={aboutPage.bioText}
        class="text-md w-full leading-snug sm:text-lg"
      />
    </article>
    <div
      class="col-end--1 xl:col-end--1 pointer-events-none col-start-2 grid h-full w-full items-end justify-items-end lg:h-[calc(100vh-12rem)] xl:row-start-1"
    >
      <Image
        src={Headshot}
        alt="Brielle French"
        class="row-end--1 col-end--1 relative left-10 col-start-1 row-start-1 overflow-auto lg:static"
      />
      <Image
        src={Logo}
        alt=""
        class="row-end--1 col-end--1 relative left-10 -z-10 col-start-1 row-start-1 overflow-auto lg:static"
      />
    </div>
  </main>
</Base>
