---
import Base from "../layouts/Base.astro";
import { Icon } from "astro-icon/components";

const socialLinks = [
  {
    name: "Instagram",
    icon: "mdi:instagram",
    link: "https://www.instagram.com/briellefrenchdesign",
  },
  {
    name: "Pinterest",
    icon: "mdi:pinterest",
    link: "https://www.pinterest.com/briellefrenchdesign",
  },
  {
    name: "LinkedIn",
    icon: "mdi:linkedin",
    link: "https://www.linkedin.com/in/briellefrench",
  },
  {
    name: "TikTok",
    icon: "ic:baseline-tiktok",
    link: "https://www.tiktok.com/@briellefrenchdesign",
  },
];
---

<Base>
  <main class="base-main mt-4 md:mt-0 pb-12">
    <section class="bg-white">
      <div class="font-base container mx-auto px-6 py-4 xl:px-24">
        <div class="flex flex-col-reverse lg:-mx-6 lg:flex-row lg:items-center">
          <div class="mt-8 lg:mx-6 lg:w-2/3">
            <div
              class="mx-auto w-full overflow-hidden rounded-lg bg-white px-8 py-10 shadow-2xl shadow-gray-300/50 lg:max-w-xl"
            >
              <form class="mt-6">
                <div class="contact-form-input flex-1">
                  <label for="name">Full Name</label>
                  <input type="text" id="name" placeholder="John Doe" />
                </div>

                <div class="contact-form-input mt-6 flex-1">
                  <label for="email">Email Address</label>
                  <input
                    type="email"
                    id="email"
                    placeholder="johndoe@example.com"
                  />
                </div>

                <div class="contact-form-input mt-6 w-full">
                  <label for="message">Message</label>
                  <textarea
                    class="h-32 md:h-48"
                    id="message"
                    placeholder="Message"></textarea>
                </div>

                <button
                  class="text-md mt-6 w-full transform rounded-md bg-[#FF7DB8] px-6 py-3 font-bold capitalize tracking-wide text-white transition-colors duration-300 hover:bg-[#b35881] focus:outline-none focus:ring focus:ring-[#ff8abf] focus:ring-opacity-50"
                >
                  get in touch
                </button>
              </form>
            </div>
          </div>
          <div class="mx-3 lg:mx-6 lg:w-1/3">
            <h1
              class="text-6xl font-semibold capitalize text-[#FF7DB8] lg:text-8xl"
            >
              Let's <br class="hidden lg:block" /> Chat
            </h1>

            <div class="mt-6 md:mt-8">
              <div class="-mx-1.5 mt-4 flex">
                {
                  socialLinks.map((site) => {
                    return (
                      <a
                        class="mx-1.5 transform text-gray-400 transition-colors duration-300 hover:text-[#FF7DB8]"
                        href={site.link}
                      >
                        <Icon name={site.icon} class="h-8 w-8" />
                      </a>
                    );
                  })
                }
              </div>
            </div>

            <div class="mt-6 space-y-8 md:mt-8">
              <p class="-mx-2 flex items-start">
                <a
                  class="mx-2 w-72 truncate text-gray-700"
                  href="mailto:hello@briellefrench.com"
                  >hello@briellefrench.com</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <style>
    .contact-form-input label {
      @apply mb-2 block text-sm text-gray-600;
    }

    .contact-form-input input,
    .contact-form-input textarea {
      @apply mt-2 block w-full rounded-md border border-gray-200 bg-white px-5 py-3 text-gray-700 placeholder-gray-400 focus:border-[#ff8abf] focus:outline-none focus:ring focus:ring-[#ff8abf] focus:ring-opacity-40;
    }
  </style>
</Base>
