---
import { Image } from "astro:assets";
import Base from "../layouts/Base.astro";
import Logo from "../assets/logo-big.png";
---

<Base>
  <main class="h-[calc(100vh-12rem)] block mb-36 z-10 relative bg-white">
    <div class="grid md:grid-cols-10 h-full px-10 justify-center">
      <div class="h-full flex items-center justify-center md:row-start-1 md:col-start-4 md:col-end--1 lg:w-auto lg:ml-[-200px] z-[-100]">
        <!-- Image is purely decorative, no alt tag needed -->
        <Image src={Logo} alt="" class="md:max-w-200 sm:w-4/5 md:w-full" />
      </div>
      <div
        class="h-full md:row-start-1 md:col-start-1 md:col-end-6 md:flex md:flex-col md:items-end justify-center font-bold font-base text-left md:text-right text-5xl sm:text-6xl leading-16 md:text-7xl lg:text-8xl lg:leading-30"
      >
        <div class="md:mt-24 block">Invest in</div>
        <div class="md:w-full flex items-end">
          <div class="slot-machine">
            <div id="design" class="mb-66.25">design</div>
          </div>
        </div>
      </div>
    </div>
  </main>
</Base>

<script>
  import { SlotMachineEffect } from "../lib/slotMachineEffect";
  const slotMachineTextList = [
    "social media content",
    "brand identity",
    "business cards",
    "cover design",
  ];

  const machine = new SlotMachineEffect({
    wordList: slotMachineTextList,
    container: document.querySelector("div.slot-machine") as HTMLElement,
    minItemsToPassBy: 2,
    maxItemsToPassBy: 8,
  });

  await new Promise((r) => setTimeout(r, 3000));

  document.querySelector("div#design")!.classList.add("hidden");
  machine.attach();
  machine.animate();

  setInterval(() => {
    machine.animate();
  }, 4000);
</script>

<style is:global>
  .slot-machine {
    margin: 0px auto;
    width: 100%;
    z-index: -10;
  }

  .slot-machine--mask {
    width: 100%;
    /* height: 200px; */
    overflow: hidden;
    position: relative;
    display: inline-block;
    margin-bottom: -40px;
    @apply h-50 md:h-100
  }

  .slot-machine--items-container {
    transition: all, 0.5s, cubic-bezier(0.02, 0.01, 0.47, 1);
    @apply absolute top-0 md:right-0
  }

  .slot-machine--item {
    margin: 0px;
    padding: 0px;
    background-size: contain;
    @apply h-50 md:h-100
  }
</style>
