---
import { homePage } from "../lib/getContent";
import Base from "../layouts/Base.astro";
---

<Base description={homePage.seoDescription}>
  <main
    class="base-main grid w-full grid-cols-1 justify-center overflow-hidden px-10 md:grid-cols-10"
    data-slotMachineTextList={homePage.rotatingText}
  >
    <div
      class="lg:-ml-200px md:col-end--1 absolute left-0 -top-16 -z-10 flex h-full w-full flex-col-reverse md:static md:col-start-4 md:row-start-1 md:w-auto md:items-center md:justify-end"
    >
      <img
        src="/home-page-logo.svg"
        alt=""
        class="-left-25vw md:max-w-200 w-2/1 relative -bottom-64 md:static md:w-full rotate-180 md:rotate-0"
        onload="SVGInject(this)"
      />
    </div>
    <div
      class="font-base leading-12 lg:leading-30 mt-16 text-left text-4xl font-bold sm:text-5xl md:col-start-1 md:col-end-6 md:row-start-1 md:flex md:w-full md:flex-col md:items-end md:text-right md:text-6xl lg:text-8xl [@media(min-width:600px)]:w-4/5"
    >
      <div class="block md:mt-24" set:html={homePage.stillText} />
      <div class="flex items-end md:w-full">
        <div class="slot-machine">
          <div
            id="design"
            class="mb-66.25"
            set:html={homePage.firstTextEntry}
          />
        </div>
      </div>
    </div>
  </main>
</Base>

<script>
  import { SlotMachineEffect } from "../lib/slotMachineEffect";
  const slotMachineTextList = document
    .querySelector("main")!
    .dataset!.slotmachinetextlist!.split(",");

  const machine = new SlotMachineEffect({
    wordList: slotMachineTextList,
    container: document.querySelector("div.slot-machine") as HTMLElement,
    minItemsToPassBy: 2,
    maxItemsToPassBy: 8,
  });

  await new Promise((r) => setTimeout(r, 3000));

  document.querySelector("div#design")!.classList.add("hidden");
  machine.attach();
  machine.animate();

  setInterval(() => {
    machine.animate();
  }, 4000);
</script>

<style is:global>
  .slot-machine {
    margin: 0px auto;
    width: 100%;
    z-index: -10;
  }

  .slot-machine--mask {
    width: 100%;
    /* height: 200px; */
    overflow: hidden;
    position: relative;
    display: inline-block;
    margin-bottom: -40px;
    @apply h-50 md:h-100;
  }

  .slot-machine--items-container {
    transition: all, 0.5s, cubic-bezier(0.02, 0.01, 0.47, 1);
    @apply absolute top-0 md:right-0;
  }

  .slot-machine--item {
    margin: 0px;
    padding: 0px;
    background-size: contain;
    @apply h-50 md:h-100;
  }
</style>
