---
import { homePage } from "../lib/getContent";
import { Image } from "astro:assets";
import Base from "../layouts/Base.astro";
---

<Base>
  <main class="base-main" data-slotMachineTextList={homePage.rotatingText}>
    <div class="grid h-full justify-center px-10 md:grid-cols-10">
      <div
        class="md:col-end--1 z-[-100] flex h-full items-center justify-center md:col-start-4 md:row-start-1 lg:ml-[-200px] lg:w-auto"
      >
        <!-- Image is purely decorative, no alt tag needed -->
        <img
          src="/home-page-logo.svg"
          alt=""
          class="md:max-w-200 sm:w-4/5 md:w-full"
          onload="SVGInject(this)"
        />
      </div>
      <div
        class="font-base leading-16 lg:leading-30 h-full justify-center text-left text-5xl font-bold sm:text-6xl md:col-start-1 md:col-end-6 md:row-start-1 md:flex md:flex-col md:items-end md:text-right md:text-7xl lg:text-8xl"
      >
        <div class="block md:mt-24" set:html={homePage.stillText} />
        <div class="flex items-end md:w-full">
          <div class="slot-machine">
            <div
              id="design"
              class="mb-66.25"
              set:html={homePage.firstTextEntry}
            />
          </div>
        </div>
      </div>
    </div>
  </main>
</Base>

<script>
  import { SlotMachineEffect } from "../lib/slotMachineEffect";
  const slotMachineTextList = document
    .querySelector("main")!
    .dataset!.slotmachinetextlist!.split(",");

  const machine = new SlotMachineEffect({
    wordList: slotMachineTextList,
    container: document.querySelector("div.slot-machine") as HTMLElement,
    minItemsToPassBy: 2,
    maxItemsToPassBy: 8,
  });

  await new Promise((r) => setTimeout(r, 3000));

  document.querySelector("div#design")!.classList.add("hidden");
  machine.attach();
  machine.animate();

  setInterval(() => {
    machine.animate();
  }, 4000);
</script>

<style is:global>
  .slot-machine {
    margin: 0px auto;
    width: 100%;
    z-index: -10;
  }

  .slot-machine--mask {
    width: 100%;
    /* height: 200px; */
    overflow: hidden;
    position: relative;
    display: inline-block;
    margin-bottom: -40px;
    @apply h-50 md:h-100;
  }

  .slot-machine--items-container {
    transition: all, 0.5s, cubic-bezier(0.02, 0.01, 0.47, 1);
    @apply absolute top-0 md:right-0;
  }

  .slot-machine--item {
    margin: 0px;
    padding: 0px;
    background-size: contain;
    @apply h-50 md:h-100;
  }
</style>
