---
import { Image } from "astro:assets";
import Base from "../layouts/Base.astro";
import Logo from "../assets/logo-big.png";
---

<Base>
  <main class="h-[calc(100vh-12rem)] block mb-36 z-10 relative bg-white">
    <div class="grid h-full px-10 text-right">
      <div class="h-full flex items-center justify-center lg:w-auto lg:ml-[-200px] z-[-100]">
        <!-- Image is purely decorative, no alt tag needed -->
        <Image src={Logo} alt="" class="sm:w-4/5" />
      </div>
      <div
        class="h-full lg:flex lg:flex-col lg:items-end justify-center font-bold font-base text-left text-5xl sm:text-6xl leading-16 md:text-7xl lg:text-8xl lg:leading-30"
      >
        <div class="md:mt-24 block">Invest in</div>
        <div class="flex items-end">
          <div class="slot-machine">
            <div id="design" class="mb-66.25">design</div>
          </div>
        </div>
      </div>
    </div>
  </main>
</Base>

<script>
  import { SlotMachineEffect } from "../lib/slotMachineEffect";
  const slotMachineTextList = [
    "social media content",
    "brand identity",
    "business cards",
    "cover design",
  ];

  const machine = new SlotMachineEffect({
    wordList: slotMachineTextList,
    container: document.querySelector("div.slot-machine") as HTMLElement,
    minItemsToPassBy: 2,
    maxItemsToPassBy: 8,
  });

  await new Promise((r) => setTimeout(r, 3000));

  document.querySelector("div#design")!.classList.add("hidden");
  machine.attach();
  machine.animate();

  setInterval(() => {
    machine.animate();
  }, 4000);
</script>

<style is:global>
  .slot-machine {
    margin: 0px auto;
    width: 100%;
    z-index: -10;
  }

  .slot-machine--mask {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    margin-bottom: -40px;
  }

  .slot-machine--items-container {
    position: absolute;
    top: 0px;
    /* right: 0px; */
    transition: all, 0.5s, cubic-bezier(0.02, 0.01, 0.47, 1);
  }

  .slot-machine--item {
    min-height: 200px;
    max-height: 200px;
    margin: 0px;
    padding: 0px;
    background-size: contain;
  }
</style>
