---
import { Image } from "astro:assets";
import Base from "../layouts/Base.astro";
import { portfolioEntries } from "../lib/getContent";
---

<Base>
  <main class="base-main px-8 lg:px=0">
    <div class="portfolio-entries relative mb-4">
      {
        portfolioEntries.map((entry) => {
          const image = entry.props.portfolioPageDisplayImage;
          if (!image) return;

          return (
            <a class="absolute" href={`/portfolio/${entry.props.slug}`}>
              <Image
                class="m-0 my-8 lg:my-0"
                src={image.fields.file!.url + "?fm=webp&q=75"}
                alt={image.fields.title as string | null}
                width={image.fields.file!.details.image!.width}
                height={image.fields.file!.details.image!.height}
              />
            </a>
          );
        })
      }
    </div>
    <!-- add padding after last item -->
    <div class="h-24"></div>
  </main>
</Base>

<script>
  import MiniMasonry from "minimasonry";
  new MiniMasonry({
    container: ".portfolio-entries",
    gutter: 120,
    baseWidth: 350,
  });
</script>
