---

---
<header aria-label="Site Header" class="bg-white">
  <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-48 items-center justify-between">
      <div class="flex-1 md:flex md:items-center md:gap-12">
        <a class="block text-teal-600" href="/">
          <span class="sr-only">Home</span>
          <img src="/logo.png" />
        </a>
      </div>

      <div class="md:flex-2 md:items-center md:gap-12">
        <nav aria-label="Site Nav" class="hidden md:block">
          <ul class="flex justify-between gap-24 text-2xl font-base font-bold uppercase">
            <li>
              <a
                class="text-black transition hover:text-#F1FA43/75"
                href="/"
              >
                About
              </a>
            </li>

            <li>
              <a
                class="text-black transition hover:text-#FF7DB8/75"
                href="/"
              >
                Portfolio
              </a>
            </li>

            <li>
              <a
                class="text-black transition hover:text-#3DBFAF/75"
                href="/"
              >
                Services
              </a>
            </li>

            <li>
              <a
                class="text-black transition hover:text-#EC291C/75"
                href="/"
              >
                Contact
              </a>
            </li>
          </ul>
        </nav>

        <div class="flex items-center gap-4">
          <div class="block md:hidden">
            <button
              class="rounded bg-gray-100 p-2 text-gray-600 transition hover:text-gray-600/75"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M4 6h16M4 12h16M4 18h16"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>