---
interface Props {
  nameOfService: string;
  slug: string;
  descriptionOfService: string;
}

const {
  nameOfService: name,
  slug,
  descriptionOfService: description,
} = Astro.props;
---

<div id={slug} data-service-section class="font-base scroll-m-16">
  <h2 class="text-xl sm:text-2xl pb-4">{name}</h2>
  <div>
    <p set:html={description} />
  </div>
</div>
