---
import "../styles/index.css";
import { SEO } from "astro-seo";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
const { title, description } = Astro.props;

interface Props {
  title: string;
  description: string;
}
---

<html lang="en">
  <head>
    <SEO
      title={title}
      titleTemplate="%s | Brielle French Design"
      titleDefault="Brielle French Design"
      description={description}
      openGraph={{
        basic: {
          title: title || "Brielle French Design",
          image: "https://ef17-71-211-137-83.ngrok-free.app/logo.jpg",
          type: "website",
          url: "https://briellefrench.com",
        },
        optional: {
          description: description,
        },
        image: {
          alt: "Brielle French Design's logo",
          width: 3000,
          height: 1650,
          type: "image/jpeg",
        },
      }}
      twitter={{
        card: "summary",
        title: title || "Brielle French Design",
        description: description,
        image: "https://ef17-71-211-137-83.ngrok-free.app/logo.jpg",
        imageAlt: "Brielle French Design's logo",
      }}
      extend={{
        // meta: [{
        //   name: "image",
        //   property: "og:image",
        //   content: "https://ef17-71-211-137-83.ngrok-free.app/logo.jpg"
        // }]
      }}
    />
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script
      is:inline
      src="https://www.unpkg.com/@iconfu/svg-inject/dist/svg-inject.min.js"
    ></script>
  </head>
  <body>
    <Nav />
    <slot />
    <Footer />
  </body>
</html>
